/* Container boxes */
.content-container {
  display: flex;
  justify-content: right;
  width: calc(100vw - 170px);
}

.countdown-container {
  width: 600px;
  text-align: center;
  margin-top: 180px;
}

.countdown {
  display: flex;
  justify-content: space-between;
}

.time-digits {
  display: flex;
}

/* Digit styling of countdown */
.day1,.day2,.hour1,.hour2,.minute1,.minute2,.second1,.second2 {
  background: black;
  width: 58px;
  height: 72px;
  margin: 0px 6px 16px;
}

.day1 {
  margin-left: 0px;
}

.second2 {
  margin-right: 0px;
}

.container-day,.container-hour,.container-minute,.container-second {
  margin: 36px 6px 16px;
}

/* Countdown text styling */
.countdown-container h3 {
  font-size: 48px;
  padding: 16px;
  line-height: 0.9;
}

.countdown p {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
