/* Countdown container styling */
.countdown-container {
  display: flex;
  float: right;
  flex-direction: column;
  justify-content: center;
  margin-top: 300px;
  width: 600px;
  margin-right: -44px;
}

/* Shoe name text styling */
.shoename {
  font-family: Roboto;
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 36px;
  text-align: center;
}

/* Countdown timer styling */
.countdown {
  display: flex;
  justify-content: space-around;
}

.day,.hour,.minute,.second {
  font-family: Rozha One;
  letter-spacing: 0.15em;
  background: black;
  color: white;
  padding: 16px;
  text-align: center;
}

.countdown p {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

#countdown {
  font-family: Rozha One;
  letter-spacing: 0.15em;
  background: black;
  color: white;
  padding: 16px;
}

/* Days under countdown styling */
.time {
  display: flex;
  justify-content: space-around;
  margin-bottom: 22px;
}
.time p {
  font-size: 24px;
  font-weight: 900;
}
