/* Countdown container styling */
.countdown-container {
  float: right;
  margin-top: 300px;
  width: 600px;
  margin-right: -44px;
  text-align: center;
}

/* Shoe name text styling */
.shoename {
  font-family: Roboto;
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-left: 10px;
}

/* Countdown timer styling */
.countdown {
  display: flex;
  justify-content: space-between;
}

.time-digits {
  display: flex;
}

.day1,.day2,.hour1,.hour2,.minute1,.minute2,.second1,.second2 {
  font-family: Rozha One;
  background: black;
  width: 58px;
  height: 72px;
  color: white;
  margin: 0px 6px;
}

.day1 {
  margin-left: 0px;
}

.second2 {
  margin-right: 0px;
}

.container-day,.container-hour,.container-minute,.container-second {
  margin: 36px 6px 22px;
}

.countdown-container h3 {
  font-size: 48px;
  padding: 16px;
  line-height: 0.9;
}

.countdown p {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
