/* Countdown container styling */
.countdown-container {
  float: right;
  text-align: center;
  margin-top: 300px;
  width: 600px;
  margin-right: -44px;
}

/* Shoe name text styling */
.shoename h1 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* Countdown timer styling */
.countdown-js {
  display: grid;
}
#countdown {
  font-family: Rozha One;
  letter-spacing: 0.15em;
  background: black;
  color: white;
}

/* Days under countdown styling */
.time {
  display: flex;
  justify-content: space-around;
}
.time p {
  font-size: 24px;
  font-weight: 900;
}
