/* Stylesheets */
@import url("pages/homepage.css");
@import url("components/countdown.css");
@import url("components/---.css");

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 414px) {
  .background-img {
    height: 118vh;
    top: -32px;
  }
  .countdown-container {
    margin-top: 320px;
    margin-right: 0;
    width: 100%;
  }
  .shoename h1 {
    font-size: 24px;
    width: 100vw;
    margin-bottom: 12px;
  }
  .time {
    justify-content: space-evenly;
  }
  .time p {
    font-size: 14px;
  }
  #countdown {
    font-size: 24px;
    padding: 8px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1440px) { ... }
