.background-img {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url("../../images/landing.jpg");
  background-size: cover;
  z-index: -1000;
}

body {
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-family: Rozha One;
  letter-spacing: 0.15em;
  line-height: 40px;
  color: white;
}

p {
  font-family: Roboto;
  font-size: 18px;
}
